<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @shipping_info.full_name %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @shipping_info.contact_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @shipping_info.email %>
</p>

<p>
  <strong>City:</strong>
  <%= @shipping_info.city %>
</p>

<p>
  <strong>Township:</strong>
  <%= @shipping_info.township %>
</p>

<p>
  <strong>Shipping address:</strong>
  <%= @shipping_info.shipping_address %>
</p>

<%= link_to 'Edit', edit_shipping_info_path(@shipping_info) %> |
<%= link_to 'Back', shipping_infos_path %>
