<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :invoice_number %><br>
    <%= f.text_field :invoice_number %>
  </div>
  <div class="form-group">
    <%= f.label :customer_email %><br>
    <%= f.text_field :customer_email %>
  </div>
  <div class="form-group">
    <%= f.label :item_name %><br>
    <%= f.text_field :item_name %>
  </div>
  <div class="form-group">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="form-group" style="display:none;">
    <%= f.label :store_name %><br>
    <%= f.text_field :store_name, :value => current_merchant.store_name %>
  </div>

  <div class="actions">
    <%= f.submit "Create", :class => "btn btn-default" %>
  </div>
<% end %>
