<p id="notice"><%= notice %></p>

<p>
  <strong>Username string:</strong>
  <%= @seller.username_string %>
</p>

<p>
  <strong>Store:</strong>
  <%= @seller.store_id %>
</p>

<%= link_to 'Edit', edit_seller_path(@seller) %> |
<%= link_to 'Back', sellers_path %>
