<h1>Listing standardformats</h1>

<table>
  <thead>
    <tr>
      <th>Timezone</th>
      <th>Currency</th>
      <th>Unitsystemstring</th>
      <th>Defaultweightunit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @standardformats.each do |standardformat| %>
      <tr>
        <td><%= standardformat.timezone %></td>
        <td><%= standardformat.currency %></td>
        <td><%= standardformat.unitsystemstring %></td>
        <td><%= standardformat.defaultweightunit %></td>
        <td><%= link_to 'Show', standardformat %></td>
        <td><%= link_to 'Edit', edit_standardformat_path(standardformat) %></td>
        <td><%= link_to 'Destroy', standardformat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Standardformat', new_standardformat_path %>
