<!DOCTYPE HTML>
<html>
<head>
<title>ay Sine</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Gelios Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<link rel="shortcut icon" href="<%= asset_path 'fav.png'%>">

 <%= stylesheet_link_tag    'bootstrap.css' %>
 <%= stylesheet_link_tag    'bootstrap.min.css' %>
 <%= stylesheet_link_tag    'etalage.css' %>
 <%= stylesheet_link_tag    'flexslider.css' %>
 <%= stylesheet_link_tag    'font-awesome.min.css' %>
 <%= stylesheet_link_tag    'frontend.css' %>
 <%= stylesheet_link_tag    'owl.carousel.css' %>
 <%= stylesheet_link_tag    'playball.css' %>
 <%= stylesheet_link_tag    'style.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>
<body>

<!--  -->

<%= yield %>

</body>
</html>
